body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    flex-direction: column;
    background-image:url(./img/background.png) ;
    background-size: cover;
}

.general {
    padding-top: 20px;
    width:400px;
    height:500px;
    background: rgb(255,214,0);
background: radial-gradient(circle, rgba(255,214,0,0.1680321786917892) 0%, rgba(205,203,196,1) 100%);
    border-radius:15px;
    box-shadow: -13px 13px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px) ;
}

.box {
    background-color: rgb(31, 31, 31);
    width:378px;
    height:603px ;
    border-radius: 20px;
    align-items: center;
}

.contacts {
    margin: 15px;
    border: solid;
    border-radius: 7px;
    padding: 10px;
 
}

.text-center {
    margin-bottom: 10px;
}

.Bottons {
    display: flex;
    text-align: center;  
}
